#instructions {
    display: flex;
    justify-content: center;
    margin: 50px 50px 10px 50px;
    font-size: 14pt;
    font-weight: bold;
}

#credits {
    display: flex;
    justify-content: center;
    margin: 10px 50px;
    font-style: italic;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    margin: 25px 50px 25px 50px;
}

#weather {
    height: 400px;
    display: grid;
}

.weather-stat {
    background: #444;
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.weather-stat:nth-child(even){
    background: #333;
}

.weather-key {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 25px;
}

.weather-value {
    padding-left: 25px;
    display: flex;
    align-items: center;
}

#map {
    height: 400px;
    background-color: grey;
}

.weather-key {
    font-weight: bold;
}

body {
    background-color: #262626;
    color: #eee
}